.navbar {
    background-color: #F9C434;
}

.navbar-items {
    color: white;
    font-size: 30px;
}

.navbar-sideNav {
    margin-left: 15px;
    margin-right: 10px;
}

.navbar-mainNav {
    margin-left: 10px;
    margin-right: 15px;
}

/* Content */

.content {
    background-color: #FEFEFF;
    padding-top: 91px;
    padding-left: 30px;
    padding-right: 30px;
}